body {
  font-family: "ＭＳ Ｐゴシック", serif;
}
#ui-datepicker-div {
  z-index: 3!important;
}
.form-check-input {
  border-color: #abb2b9!important;
}
.form-control {
  border-color: #abb2b9!important;
  z-index: 2;
}
.form-control[readonly] {
  background-color: #eceef1!important;
}
.form-control[disabled] {
  background: none;
  background-color: #eceef1!important;
}
[data-header-styles=dark] .form-control[readonly] {
  background-color: #626567!important;
}
[data-header-styles=dark] .form-control[disabled] {
  background: none;
  background-color: #626567!important;
}

.form-select {
  font-size: 0.875rem;
  padding-right: 35px;
}

table .form-control {
  padding: 2px;
}
table .form-control[readonly] {
  border: none!important;
  background: no-repeat!important;
}
table .form-select[disabled] {
  border: none!important;
  background: no-repeat!important;
  padding: 2px 2px;
}
table button {
  white-space: nowrap;  
}
table th {
  white-space: nowrap;  
}

.modal {
  z-index: 999;
}
.modal .col-form-label {
  flex-shrink: 0;
  margin-right: 5px;
}
.modal .row {
  margin-bottom: 20px;
}
.modal .row div {
  margin-bottom: 10px;
}
.modal table {
  margin: 20px 0;
}
.modal .card-body {
  overflow-x: auto;
}

img[readonly] {
  cursor: not-allowed;
}

.side-menu__label {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #7b7d7d;
}
*:hover::-webkit-scrollbar-thumb {
  background: #7b7d7d;
}

.col-form-label {
  font-weight: bold;
  white-space: pre-line;
  z-index: 1;
}

[data-header-styles=light] .col-form-label {
  color: #1f618d;
}

[data-header-styles=dark] .col-form-label {
  color: #fff;
}

[data-header-styles=dark] .page-item[disabled] .page-link {
  color: #535353;
}

.card {
  width: 100%;
}

.header-element-logo-nomenu {
  padding: 10px;
  margin-right: 20px;
  display: none;
}

@media (max-width: 760px) {
  .page-title {
    opacity: 0;
  }
}

.content-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #435971;
}
.content-backdrop.show {
  color: #000;
  font-size: 26px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 30vh;
}
.content-backdrop-op1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: #435971;
}
.content-backdrop-op1.show {
  color: #000;
  font-size: 26px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 30vh;
}
[data-header-styles=dark] .content-backdrop-op1.show {
  background-color: #435971;
}

table td {
  text-align: center;
}


.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 999;
}
.preview img {
  max-height: calc(100vh - 100px);
  max-width: calc(100vw);
  margin: 50px auto;
  display: block;
  user-select: none;
}
.preview i {
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.imgDelete {
  color: #E74C3C;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 15px;
  font-size: 18px;
}
.imgEnlarge {
  color: #535353;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: -18px;
  font-size: 18px;
}

[data-header-styles=light] .tableTips {
  color: #535353;
}

[data-header-styles=dark] .tableTips {
  color: #fff;
}

[data-header-styles=light] table thead {
  background: #d6eaf8;
}

[data-header-styles=dark] table thead {
  background: #7b7d7d;
}

.page-item {
  cursor: pointer;
}
.page-item[disabled] {
  cursor: no-drop;
}
.page-item[disabled] .page-link {
  background: rgb(243, 246, 248);
}

.page_content_div {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}
.page_content_div .card {
  margin: 10px;
}
@media (max-width: 760px) {
  .page_content_div {
    flex-wrap: wrap;
  }
  .label {
    white-space: normal!important;
  }
}

.scrollToTop {
  display: none!important;
}

#sidebar {
  z-index: 9999;
}

.card.custom-card .card-header {
  padding: 0.5rem 1rem;
}

.floatContainer {
  position: relative;
  z-index: 9;
}
.floatContainer {
  width: auto;
  position: fixed;
}
.floatContainer .floatDiv {
  border-radius: 5px;
  padding: 25px 15px 5px 15px !important;
  border: 1px solid #808B96;
  background: #FFF;
}
[data-header-styles=dark] .floatContainer .floatDiv {
  border: 1px solid #535353;
  background: #000;
}
.floatContainer .icon {
  position: absolute;
  top: 0;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #808B96;
  line-height: 26px;
  background: #EBEDEF;
}
[data-header-styles=dark] .floatContainer .icon {
  border: 1px solid #000;
  background: #535353;
}
.floatContainer .icon:hover {
  background: #D5D8DC;
}
[data-header-styles=dark] .floatContainer .icon:hover {
  background: #888;
}

.modal-dialog {
  width: auto;
  max-width: calc(80vw - 250px);
  margin: 10vh auto;
}

.chart-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}


[data-header-styles=dark] .nvd3 text {
  color: #fff;
  fill: #fff!important;
}
[data-header-styles=dark] .nvtooltip {
  background: rgba(0, 0, 0, .9);
  border: 1px solid #fff;
}

.content-wrapper {
  position: relative;
}
.prevPageItem {
  position: absolute;
  top: 40vh;
  left: 5px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(234, 236, 238, 0.6);
  z-index: 10;
}
.prevPageItem:hover {
  background-color: #EAECEE;
  box-shadow: 0 0 5px #EAECEE;
}
.prevPageItem i {
  font-size: 3rem;
  color: #D5D8DC;
}
.prevPageItem:hover i {
  color: #ABB2B9;
}
.nextPageItem {
  position: absolute;
  top: 40vh;
  right: 5px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(234, 236, 238, 0.6);
}
.nextPageItem:hover {
  background-color: #EAECEE;
  box-shadow: 0 0 5px #EAECEE;
}
.nextPageItem i {
  font-size: 3rem;
  color: #D5D8DC;
}
.nextPageItem:hover i {
  color: #ABB2B9;
} 
.queryItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.textLink {
  text-decoration: underline;
  white-space: nowrap;
  margin: 5px 0;
  color: #3498DB;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 760px) {
  .modal.show .modal-dialog {
    margin: 0;
    width: 100vw;
  }
  .modal.show .modal-dialog .modal-content {
    width: 100vw;
  }
}
