<html lang="ja"><head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
		<link rel="stylesheet" href="./static/pdf_prohabit/all.min.css">
		<link rel="stylesheet" href="./static/pdf_prohabit/print.css">
		<link rel="stylesheet" href="./static/pdf_prohabit/style.css">
		<link rel="stylesheet" href="./static/pdf_prohabit/style.css">
		<style type="text/css">
			canvas {
				display: block;
				box-shadow: 0 0 10px #535353;
    		border-radius: 10px;
    		max-width: 100%;
    		margin-bottom: 5px;
    		margin-left: auto;
    		margin-right: auto;
			}
			#content {
		    width: 900px;
		    height: 100vh;
		    margin: auto;
			}
		</style>
  </head>
  <body>
	<header>

		<iframe id="pdfIframe" style="display:none;"></iframe>
		
		<ul class="navigation">
			<li class="navigation__item" style="opacity: 0;">
				<!-- Navigate to the Previous and Next pages -->
				<a href="#" class="previous round" id="prev_page">
					<i class="fas fa-arrow-left"></i>
				</a>

				<!-- Navigate to a specific page -->
				<input type="number" value="1" id="current_page">

				<a href="#" class="next round" id="next_page">
					<i class="fas fa-arrow-right"></i>
				</a>

				<!-- Page Info -->
				Page
				<span id="page_num"></span>
				of
				<span id="page_count"></span>
			</li>

			<!-- Zoom In and Out -->
			<li class="navigation__item" style="opacity: 0;">
				<button class="zoom" id="zoom_in">
					<i class="fas fa-search-plus"></i>
				</button>

				<button class="zoom" id="zoom_out">
					<i class="fas fa-search-minus"></i>
				</button>
			</li>
			<li class="navigation__item">
          		<button class="print-button">
            <i class="fa-solid fa-print"></i>
          </button>
        </li>
		</ul>
	</header>
  <div id="content">
    <!-- <canvas id="canvas" class="canvas__container"></canvas> -->
  </div>
  
  <script src="./static/pdf_prohabit/pdf.js"></script>
  <script src="./static/pdf_prohabit/index.js"></script>
</body></html>