<html lang="ja" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close"><head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title i18n="resetPassword"></title>
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">
    
    <!-- Favicon -->
    <link rel="icon" href="./static/img/logo/logo.png" type="image/x-icon">
    
    <!-- Main Theme Js -->
    <script src="./static/compact/js/main.js"></script>
    
    <!-- Bootstrap Css -->
    <link id="style" href="./static/compact/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="./static/compact/css/styles.min.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="./static/compact/css/icons.css" rel="stylesheet">

    <!-- Node Waves Css -->
    <link href="./static/compact/libs/node-waves/waves.min.css" rel="stylesheet"> 

    <!-- Simplebar Css -->
    <link href="./static/compact/libs/simplebar/simplebar.min.css" rel="stylesheet">
    
    <!-- Color Picker Css -->
    <link rel="stylesheet" href="./static/compact/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="./static/compact/libs/@simonwep/pickr/themes/nano.min.css">

    <link rel="stylesheet" href="./static/vendor/libs/jquery/jquery-ui.css">

    <link rel="stylesheet" href="./static/vendor/libs/select2/select2.css">

    <link rel="stylesheet" href="./static/vendor/libs/nvd3/nv.d3.min.css">

    <link rel="stylesheet" href="./static/css/compact.css">

    <link rel="stylesheet" href="./static/css/custimized.css">

</head>

<body>

    <!-- Start Switcher -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="switcher-canvas" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title text-default" id="offcanvasRightLabel">Switcher</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">閉じる</button>
        </div>
        <div class="offcanvas-body">
            <nav class="border-bottom border-block-end-dashed">
                <div class="nav nav-tabs nav-justified" id="switcher-main-tab" role="tablist">
                    <button class="nav-link active" id="switcher-home-tab" data-bs-toggle="tab" data-bs-target="#switcher-home" type="button" role="tab" aria-controls="switcher-home" aria-selected="true">Theme Styles</button>
                    <button class="nav-link" id="switcher-profile-tab" data-bs-toggle="tab" data-bs-target="#switcher-profile" type="button" role="tab" aria-controls="switcher-profile" aria-selected="false">Theme Colors</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active border-0" id="switcher-home" role="tabpanel" aria-labelledby="switcher-home-tab" tabindex="0">
                    <div class="">
                        <p class="switcher-style-head">Theme Color Mode:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-light-theme">
                                        Light
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="theme-style" id="switcher-light-theme" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-dark-theme">
                                        Dark
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="theme-style" id="switcher-dark-theme">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Directions:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-ltr">
                                        LTR
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="direction" id="switcher-ltr" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-rtl">
                                        RTL
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="direction" id="switcher-rtl">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Navigation Styles:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-vertical">
                                        Vertical
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="navigation-style" id="switcher-vertical" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-horizontal">
                                        Horizontal
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="navigation-style" id="switcher-horizontal">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="navigation-menu-styles">
                        <p class="switcher-style-head">Vertical &amp; Horizontal Menu Styles:</p>
                        
					<div class="row switcher-style gx-0 pb-2 gy-2">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-menu-click">
                                        Menu Click
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="navigation-menu-styles" id="switcher-menu-click">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-menu-hover">
                                        Menu Hover
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="navigation-menu-styles" id="switcher-menu-hover">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-icon-click">
                                        Icon Click
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="navigation-menu-styles" id="switcher-icon-click">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-icon-hover">
                                        Icon Hover
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="navigation-menu-styles" id="switcher-icon-hover">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="sidemenu-layout-styles">
                        <p class="switcher-style-head">Sidemenu Layout Styles:</p>
                        
					<div class="row switcher-style gx-0 pb-2 gy-2">
                            
						<div class="col-sm-6">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-default-menu">
                                        Default Menu
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="sidemenu-layout-styles" id="switcher-default-menu" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-sm-6">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-closed-menu">
                                        Closed Menu
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="sidemenu-layout-styles" id="switcher-closed-menu">
                                
							</div>
                            
						</div>
                            
						<div class="col-sm-6">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-icontext-menu">
                                        Icon Text
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="sidemenu-layout-styles" id="switcher-icontext-menu">
                                
							</div>
                            
						</div>
                            
						<div class="col-sm-6">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-icon-overlay">
                                        Icon Overlay
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="sidemenu-layout-styles" id="switcher-icon-overlay">
                                
							</div>
                            
						</div>
                            
						<div class="col-sm-6">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-detached">
                                        Detached
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="sidemenu-layout-styles" id="switcher-detached">
                                
							</div>
                            
						</div>
                            
						<div class="col-sm-6">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-double-menu">
                                        Double Menu
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="sidemenu-layout-styles" id="switcher-double-menu">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Page Styles:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-regular">
                                        Regular
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="page-styles" id="switcher-regular" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-classic">
                                        Classic
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="page-styles" id="switcher-classic">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-modern">
                                        Modern
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="page-styles" id="switcher-modern">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Layout Width Styles:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-full-width">
                                        Full Width
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="layout-width" id="switcher-full-width" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-boxed">
                                        Boxed
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="layout-width" id="switcher-boxed">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Menu Positions:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-menu-fixed">
                                        Fixed
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="menu-positions" id="switcher-menu-fixed" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-menu-scroll">
                                        Scrollable
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="menu-positions" id="switcher-menu-scroll">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Header Positions:</p>
                        
					<div class="row switcher-style gx-0">
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-header-fixed">
                                        Fixed
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="header-positions" id="switcher-header-fixed" checked="">
                                
							</div>
                            
						</div>
                            
						<div class="col-4">
                                
							<div class="form-check switch-select">
                                    
								<label class="form-check-label" for="switcher-header-scroll">
                                        Scrollable
                                    </label>
                                    
								<input class="form-check-input" type="radio" name="header-positions" id="switcher-header-scroll">
                                
							</div>
                            
						</div>
                        
					</div>
                    </div>
                </div>
                <div class="tab-pane fade border-0" id="switcher-profile" role="tabpanel" aria-labelledby="switcher-profile-tab" tabindex="0">
                    <div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Menu Colors:</p>
                            <div class="d-flex switcher-style pb-2">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Light Menu" type="radio" name="menu-colors" id="switcher-menu-light">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Dark Menu" type="radio" name="menu-colors" id="switcher-menu-dark" checked="">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Color Menu" type="radio" name="menu-colors" id="switcher-menu-primary">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-gradient" data-bs-toggle="tooltip" data-bs-placement="top" title="Gradient Menu" type="radio" name="menu-colors" id="switcher-menu-gradient">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-transparent" data-bs-toggle="tooltip" data-bs-placement="top" title="Transparent Menu" type="radio" name="menu-colors" id="switcher-menu-transparent">
                                </div>
                            </div>
                            <div class="px-4 pb-3 text-muted fs-11">Note:If you want to change color Menu dynamically change from below Theme Primary color picker</div>
                        </div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Header Colors:</p>
                            <div class="d-flex switcher-style pb-2">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Light Header" type="radio" name="header-colors" id="switcher-header-light" checked="">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Dark Header" type="radio" name="header-colors" id="switcher-header-dark">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Color Header" type="radio" name="header-colors" id="switcher-header-primary">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-gradient" data-bs-toggle="tooltip" data-bs-placement="top" title="Gradient Header" type="radio" name="header-colors" id="switcher-header-gradient">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-transparent" data-bs-toggle="tooltip" data-bs-placement="top" title="Transparent Header" type="radio" name="header-colors" id="switcher-header-transparent">
                                </div>
                            </div>
                            <div class="px-4 pb-3 text-muted fs-11">Note:If you want to change color Header dynamically change from below Theme Primary color picker</div>
                        </div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Theme Primary:</p>
                            <div class="d-flex flex-wrap align-items-center switcher-style">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-1" type="radio" name="theme-primary" id="switcher-primary">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-2" type="radio" name="theme-primary" id="switcher-primary1">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-3" type="radio" name="theme-primary" id="switcher-primary2">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-4" type="radio" name="theme-primary" id="switcher-primary3">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-5" type="radio" name="theme-primary" id="switcher-primary4">
                                </div>
                                <div class="form-check switch-select ps-0 mt-1 color-primary-light">
                                    <div class="theme-container-primary"></div>
                                    <div class="pickr-container-primary"></div>
                                </div>
                            </div>
                        </div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Theme Background:</p>
                            <div class="d-flex flex-wrap align-items-center switcher-style">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-1" type="radio" name="theme-background" id="switcher-background">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-2" type="radio" name="theme-background" id="switcher-background1">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-3" type="radio" name="theme-background" id="switcher-background2">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-4" type="radio" name="theme-background" id="switcher-background3">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-5" type="radio" name="theme-background" id="switcher-background4">
                                </div>
                                <div class="form-check switch-select ps-0 mt-1 tooltip-static-demo color-bg-transparent">
                                    <div class="theme-container-background"></div>
                                    <div class="pickr-container-background"></div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-image mb-3">
                            <p class="switcher-style-head">Menu With Background Image:</p>
                            <div class="d-flex flex-wrap align-items-center switcher-style">
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img1" type="radio" name="theme-background" id="switcher-bg-img">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img2" type="radio" name="theme-background" id="switcher-bg-img1">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img3" type="radio" name="theme-background" id="switcher-bg-img2">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img4" type="radio" name="theme-background" id="switcher-bg-img3">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img5" type="radio" name="theme-background" id="switcher-bg-img4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas-footer d-grid"> 
                    <a href="javascript:void(0);" id="reset-all" class="btn btn-danger m-1">Reset</a> 
                </div>
            </div>
        </div>
    </div>
    <!-- End Switcher -->

    <div class="page">
         <!-- app-header -->
         <header class="app-header">

            <!-- Start::main-header-container -->
            <div class="main-header-container container-fluid">

                <!-- Start::header-content-left -->
                <div class="header-content-left">

                    <!-- Start::header-element -->
                    <div class="header-element header-element-logo">
                        <div class="horizontal-logo">
                            <a href="#" class="header-logo">
                                <img src="./static/img/logo/desktop.jpg" alt="logo" class="desktop-logo">
                                <img src="./static/img/logo/logo.png" alt="logo" class="toggle-logo">
                                <img src="./static/img/logo/desktop.jpg" alt="logo" class="desktop-dark">
                                <img src="./static/img/logo/toggle.jpg" alt="logo" class="toggle-dark">
                            </a>
                        </div>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element header-element-sidebar">
                        <!-- Start::header-link -->
                        <a aria-label="Hide Sidebar" class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle" data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
                        <!-- End::header-link -->
                    </div>
                    <!-- End::header-element -->

                    <div class="header-element header-element-logo-nomenu" style="display: none;">
                        <img src="./static/img/logo/desktop.jpg">
                    </div>

                    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                        <!-- <div i18n="resetPassword"></div> -->
                       	<h1 class="page-title fw-semibold fs-18 mb-0 EDI請求管理システム">EDI請求管理システム</h1>
                    </div>

                </div>
                <!-- End::header-content-left -->

                <!-- Start::header-content-right -->
                <div class="header-content-right">

                    <!-- Start::header-element -->
                    <div class="header-element header-theme-mode">
                        <!-- Start::header-link|layout-setting -->
                        <a href="javascript:void(0);" class="header-link layout-setting">
                            <span class="light-layout">
                                <!-- Start::header-link-icon -->
                            <i class="bx bx-moon header-link-icon"></i>
                                <!-- End::header-link-icon -->
                            </span>
                            <span class="dark-layout">
                                <!-- Start::header-link-icon -->
                            <i class="bx bx-sun header-link-icon"></i>
                                <!-- End::header-link-icon -->
                            </span>
                        </a>
                        <!-- End::header-link|layout-setting -->
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element header-fullscreen">
                        <!-- Start::header-link -->
                        <a onclick="openFullscreen();" href="#" class="header-link">
                            <i class="bx bx-fullscreen full-screen-open header-link-icon"></i>
                            <i class="bx bx-exit-fullscreen full-screen-close header-link-icon d-none"></i>
                        </a>
                        <!-- End::header-link -->
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element">
                        <!-- Start::header-link|dropdown-toggle -->
                        <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <div class="me-sm-2 me-0">
                                    <img src="./static/compact/images/faces/21.jpg" alt="img" width="32" height="32" class="rounded-circle">
                                </div>
                                <div class="d-sm-block d-none">
                                    <p class="fw-semibold mb-0 lh-1 username">Admin</p>
                                    <span class="op-7 fw-normal d-block fs-11 userid">Admin</span>
                                </div>
                            </div>
                        </a>
                        <!-- End::header-link|dropdown-toggle -->
                        <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                            <li><a class="dropdown-item d-flex" id="logout" href="#"><i class="ti ti-logout fs-18 me-2 op-7"></i><span i18n="logout"></span></a></li>
                            <li><a class="dropdown-item d-flex" id="changePassword" href="#"><i class="ti ti-key fs-18 me-2 op-7"></i><span i18n="resetPassword"></span></a></li>
                        </ul>
                    </div>  
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-right -->

            </div>
            <!-- End::main-header-container -->

        </header>
        <!-- /app-header -->
        <!-- Start::app-sidebar -->
        <aside class="app-sidebar sticky" id="sidebar">

            <!-- Start::main-sidebar-header -->
            <div class="main-sidebar-header">
                <a href="#" class="header-logo">
                    <img src="./static/img/logo/desktop.jpg" alt="logo" class="desktop-logo">
                    <img src="./static/img/logo/logo.png" alt="logo" class="toggle-logo">
                    <img src="./static/img/logo/desktop.jpg" alt="logo" class="desktop-dark">
                    <img src="./static/img/logo/toggle.jpg" alt="logo" class="toggle-dark">
                </a>
            </div>
            <!-- End::main-sidebar-header -->

            <!-- Start::main-sidebar -->
            <div class="main-sidebar" id="sidebar-scroll">

                <!-- Start::nav -->
                <nav class="main-menu-container nav nav-pills flex-column sub-open">
                    <div class="slide-left" id="slide-left">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
                    </div>
                    <ul class="main-menu"></ul>
                    <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                </nav>
                <!-- End::nav -->

            </div>
            <!-- End::main-sidebar -->

        </aside>
        <!-- End::app-sidebar -->

        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">

                <!-- Page Header -->
                <h1></h1>
                <!-- Page Header Close -->

                <div class="container-lg">

	                <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
		                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
		                    <div class="card custom-card">
		                        <div class="card-body p-5">
		                            <img src="./static/img/logo/desktop.jpg" alt="logo" class="desktop-logo" style="position: absolute;">
		                            <p class="h5 fw-semibold mb-2 text-center" i18n="resetPassword"></p>
		                            <div class="row gy-3">
		                                <div class="col-xl-12">
		                                    <label for="reset-password" class="form-label text-default" i18n="currentPassword"></label>
		                                    <div class="input-group">
		                                        <input type="password" class="form-control form-control-lg" id="oldPassWord">
		                                        <button class="btn btn-light" type="button" onclick="createpassword('oldPassWord',this)" id="button-addon2" style="border-color: #abb2b9 !important;"><i class="ri-eye-off-line align-middle"></i></button>
		                                    </div>
		                                </div>
		                                <div class="col-xl-12">
		                                    <label for="reset-newpassword" class="form-label text-default" i18n="newPassword"></label>
		                                    <div class="input-group">
		                                        <input type="password" class="form-control form-control-lg" id="newPassWord">
		                                        <button class="btn btn-light" type="button" onclick="createpassword('newPassWord',this)" id="button-addon21" style="border-color: #abb2b9 !important;"><i class="ri-eye-off-line align-middle"></i></button>
		                                    </div>
		                                </div>
		                                <div class="col-xl-12 mb-2">
		                                    <label for="reset-confirmpassword" class="form-label text-default" i18n="confirmPassword"></label>
		                                    <div class="input-group">
		                                        <input type="password" class="form-control form-control-lg" id="newPassWordCheck">
		                                        <button class="btn btn-light" type="button" onclick="createpassword('newPassWordCheck',this)" id="button-addon22" style="border-color: #abb2b9 !important;"><i class="ri-eye-off-line align-middle"></i></button>
		                                    </div>
		                                </div>
		                                <div class="col-12 d-grid mt-2">
		                                    <a href="#" onclick="window.history.back();" class="btn btn-lg btn btn-light" i18n="back"></a>
		                                </div>
		                                <div class="col-xl-12 d-grid mt-2">
		                                    <a href="#" id="resetBtn" class="btn btn-lg btn-primary" i18n="resetPassword"></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>

                </div>

                <div class="content-backdrop show">
                    <div><img src="./static/img/loading.gif"></div>
                    <div>Loading...</div>
                </div>
                <div class="animsition"></div>
            </div>
        </div>
        <!-- End::app-content -->

        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="input-group">
                    <a href="javascript:void(0);" class="input-group-text" id="Search-Grid"><i class="fe fe-search header-link-icon fs-18"></i></a>
                    <input type="search" class="form-control border-0 px-2" placeholder="Search" aria-label="Username">
                    <a href="javascript:void(0);" class="input-group-text" id="voice-search"><i class="fe fe-mic header-link-icon"></i></a>
                    <a href="javascript:void(0);" class="btn btn-light btn-icon" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <div class="mt-4">
                    <p class="font-weight-semibold text-muted mb-2">Are You Looking For...</p>
                    <span class="search-tags"><i class="fe fe-user me-2"></i>People<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a></span>
                    <span class="search-tags"><i class="fe fe-file-text me-2"></i>Pages<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a></span>
                    <span class="search-tags"><i class="fe fe-align-left me-2"></i>Articles<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a></span>
                    <span class="search-tags"><i class="fe fe-server me-2"></i>Tags<a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a></span>
                  </div>
                  <div class="my-4">
                    <p class="font-weight-semibold text-muted mb-2">Recent Search :</p>
                    <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert">
                      <a href="notifications.html"><span>Notifications</span></a>
                      <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert" aria-label="Close"><i class="fe fe-x text-muted"></i></a>
                    </div>
                    <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert">
                      <a href="alerts.html"><span>Alerts</span></a>
                      <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert" aria-label="Close"><i class="fe fe-x text-muted"></i></a>
                    </div>
                    <div class="p-2 border br-5 d-flex align-items-center text-muted mb-0 alert">
                      <a href="mail.html"><span>Mail</span></a>
                      <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert" aria-label="Close"><i class="fe fe-x text-muted"></i></a>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="btn-group ms-auto">
                    <button class="btn btn-sm btn-primary-light">Search</button>
                    <button class="btn btn-sm btn-primary">Clear Recents</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Footer Start -->
        <footer class="footer mt-auto py-3 bg-white text-center">
            <div class="container">
                <span class="text-muted"> Copyright © <span id="year"></span></span>
            </div>
        </footer>
        <!-- Footer End -->

    </div>

    <div class="scrollToTop">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>

     <div class="scrollToTop">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>

    <!-- Popper JS -->
    <script src="./static/compact/libs/@popperjs/core/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="./static/compact/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Defaultmenu JS -->
    <script src="./static/compact/js/defaultmenu.min.js"></script>

    <!-- Node Waves JS-->
    <script src="./static/compact/libs/node-waves/waves.min.js"></script>

    <!-- Sticky JS -->
    <script src="./static/compact/js/sticky.js"></script>

    <!-- Simplebar JS -->
    <script src="./static/compact/libs/simplebar/simplebar.min.js"></script>
    <script src="./static/compact/js/simplebar.js"></script>

    <!-- Color Picker JS -->
    <script src="./static/compact/libs/@simonwep/pickr/pickr.es5.min.js"></script>
    
    <!-- Custom JS -->
    <script src="./static/compact/js/custom.js"></script>

    <script src="./static/vendor/libs/jquery/jquery.js"></script>
    <script src="./static/vendor/libs/jquery/jquery-ui.js"></script>
    <script src="./static/js/jquery.i18n.properties.min.js"></script>

    <script src="./static/vendor/libs/select2/select2.js"></script>

    <script src="./static/vendor/libs/nvd3/d3.min.js"></script>
    <script src="./static/vendor/libs/nvd3/nv.d3.min.js"></script>

    <script src="./static/i18n/d_jp.js"></script>
    <script src="./static/i18n/d_zh.js"></script>
    <script src="./static/js/config.js"></script>

    <script src="./static/js/checkuserjpn.js"></script>
    <script src="./static/js/saasforce-1.0.0.1.js"></script>
    <script src="./static/js/xmlhttp.js"></script>

    <script src="./static/js/moment.js"></script>
    <script src="./static/js/client.js"></script>

    <script src="./static/js/template_compact.js"></script>

    <script type="text/javascript">

    	function createpassword(id, btn) {
            let type = $("#" + id).attr("type")
            if (type == "password") {
                $(btn).find("i").addClass("ri-eye-line")
                $(btn).find("i").removeClass("ri-eye-off-line")
                $("#" + id).attr("type", "text")
            } else {
                $(btn).find("i").removeClass("ri-eye-line")
                $(btn).find("i").addClass("ri-eye-off-line")
                $("#" + id).attr("type", "password")
            }
        }

        $(function() {

	        let lang = "jp"
	        let i18n = lang == "jp" ? i18n_jp : i18n_zh
	        $("[i18n]").each(function() { $(this).html(i18n[$(this).attr("i18n")]) })

	        $("#resetBtn").on("click", function() {

	            let oldPassWord = $("#oldPassWord").val()
	            let newPassWord = $("#newPassWord").val()
	            let newPassWordCheck = $("#newPassWordCheck").val()

	            if (newPassWord != newPassWordCheck) {
		            alert(i18n["confirmPasswordError"])
		            return
		        }

		        let changeloginid = localStorage.getItem("username")

	            $.ajax({
	              url: apiUrl + "/changeUserPassword.do",
	              type: "post",
	              data: {
	              	oldPassWord,
	                changeloginid,
					changepassword: newPassWord
	              },
	              success: function(res) {
	                let msg = JSON.parse(res)
	                if (msg.r) eval(msg.r)
	                if (msg.i) eval(`alert("${msg.i}")`)
	                if (msg.e) eval(`alert("${msg.e}")`)
	              }
	            })
	        })

			pageId = "P00001"
			mainId = "M001"

			$(".content-backdrop").fadeOut()

			initMenu()
        })
    </script>


</body></html>